html, body, ul, li, ol, p, h1, h2, h3, h4, h5, h6, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #333333;
    font-family:"微软雅黑";
}
img {
    vertical-align: middle;
}

.fl{
    float:left
}
.fr{
    float: right;
}
